.breakdown{
    margin: auto;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 5px #222);
    background-color: ghostwhite;
    border-radius: 5%;

}

.title{
    font-size: larger;
    font-weight: bold;
}

.category{

    filter: drop-shadow(3px 3px 5px #222);
    background-color: ghostwhite;
    border-radius: 5%;

}