.form{
    margin: auto;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 5px #222);
    background-color: ghostwhite;
    border-radius: 5%;

}

.titel{
    font-size: larger;
    font-weight: bold;
}
.input{
    margin: auto;
}